HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### VS Code ###
.vscode/

# 🔒 Sensitive Files
###############################
# Firebase service account key
firebase-service-account.json

# Environment and secret config files
.env
.env.*
application-database.yml
